body{
    margin:0;
}

/* header */
#banner{
    background-color:#4EA1FD;
    background-image:url(./img/pattern.png);
    background-size: 450px;
}
.logo{
    width: 300px;
    padding: 30px 0 0 10px ;
}

/* main */
main{
    margin:10px;
}
h1{
 font-size: 30px;
 margin-bottom: 5px;
}

.info{
    font-size: 16px;
    color: gray;
}
.writer{
    color: lightskyblue;
}
.date{
    font-size: 10px;
}

/* figure */
figure{
    margin:10px 0 0;
}
.photo-info{
    font-size: 10px;
}

/* article */
/* .highlight{
    background-color:yellow;
} CHANGED WITH SEMANTIC TAG: "MARK" */

/* table */
table{
    border-spacing:0;
}
thead{
    background-color: rgb(69, 181, 250);
    color: white;
    text-align: left;
}
td{
    min-width: 200px;
}
.tr-light{
    background-color: rgb(190, 230, 255);
}
.white-row{
    background-color: white;
}

/* potrebbero interessarti */
footer{
    margin: 10px;
}
h3{
    color: grey;
}

/* .footer-img{
    width: 500px;
    position: relative;
    
}
.img-txt{
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top:5px;
    left:5px;
} */

.footer-img{
    
    /* bg */
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width:300px;
    height:200px;
    /* text */
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 5px;
}

.footer-img2{

    /* bg */
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    width:300px;
    height:200px;
    /* text */
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 5px;
}