body{
    margin:0;
}
#banner{
    margin:0;
    background-color:#4EA1FD;
    /* background-repeat: repeat-x; */
    background-image:url(./img/pattern.png);
    background-size: 340px;
}
#logo{
    width: 300px;
}